.weekplan {
  position: relative;
  top: 5px;
  padding: 5px calc(5vw - 2px) 0 calc(5vw - 2px);
  height: calc(100vh - 139px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 15px;
  row-gap: 5px;
  justify-content: space-evenly;
}

@media (min-width: 481px) {
  .weekplan {
    padding: 5px calc(15vw - 2px) 0 calc(15vw - 2px);
    height: calc(100vh - 131px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: flex-start;
  }
}
  
.weekplan::-webkit-scrollbar {
  display: none;
}

.weekday {
  width: 90vw;
  min-width: 340px;
  background-color: #e3d2c45e;
  border-radius: 10px;
  margin-bottom: 10px;
}

.weekday .card {
  margin: 5px;
}

.weekdayHeader {
  width: calc(90vw - 5px);
  padding: 0 0px 5px 5px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addRecipe {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  font-size: 16px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addRecipe > span {
  font-size: 20px;
  margin-left: 5px;
}

.recipeWrapper {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.noCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding-bottom: 10px;
  width: 90vw;
}

@media (min-width: 481px) {
  .weekday, .noCards {
    width: calc(35vw - 8px);
    min-width: 340px;
  }

  .weekdayHeader {
    width: calc(33vw - 5px);
    min-width: 335px;
  }
}