.sideCard {
    display: flex;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 330px;
    height: 100px;
    margin-bottom: 10px;
    background-color: white;
}

.sideCard > img {
    width: 120px;
    height: 100px;
    border-radius: 10px 0 0 10px;
}

@media (min-width: 481px) {
    .sideCard {
        width: 300px;
    }
}