.sideCard {
    display: flex;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 330px;
    height: 110px;
    margin-bottom: 10px;
    background-color: white;
}

.sideCard:hover {
    filter: contrast(0.9);
}

.sideCard .recipeImage {
    width: 120px;
    height: 110px;
    border-radius: 10px 0 0 10px;
}

.sideCard .recipeTitle {
    max-width: 135px;
}

.side .moreButton {
    width: 330px;
}

@media (min-width: 481px) {
    .sideCard {
        width: 300px;
    }
    
    .side .moreButton {
        width: 300px;
    }
}