.weekplan {
  padding: 5px calc(50vw - 175px) 0 calc(50vw - 175px);
  height: calc(100vh - 169px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 15px;
  row-gap: 5px;
  justify-content: space-evenly;
}

@media (min-width: 760px) {
  .weekplan {
    padding: 5px calc(50vw - 175px) 0 calc(50vw - 175px);
    height: calc(100vh - 169px);
  }
}

@media (min-width: 760px) {
  .weekplan {
    padding: 5px calc(50vw - 360px) 0 calc(50vw - 360px);
    height: calc(100vh - 149px);
    column-gap: 20px;
    row-gap: 10px;
    justify-content: flex-start;
  }
}
  
.weekplan::-webkit-scrollbar {
  display: none;
}

.weekday {
  width: 350px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.weekday .card {
  margin: 5px;
}

.weekdayHeader {
  width: 330px;
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekdayHeader:first-child {
  font-weight: 400;
}

.weekdayHeader .button {
  height: 25px;
  padding: 0 6px;
  border-width: 1px;
  border-radius: 12px;
  border-color: #333;
}

.recipeWrapper {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.noCards {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px dashed var(--color-primary);
  border-radius: 10px;
  width: 328px;
  height: 108px;
}

.noCards img {
  width: 50px;
  padding: calc((100px - 50px) / 2) calc((120px - 50px) / 2);
  margin: 5px;
  border-radius: 12px;
  background-color: #e3d2c466;
  opacity: 0.6;
}

.emptyCard.emptySideCard {
  width: 350px;
  height: 165px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  margin-bottom: 10px;
  background-color: #e3d2c44D;
}

.emptySideCard .emptyContent {
  height: 110px;
  width: 330px;
  top: 15px;
  margin: 0 10px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, var(--color-primary) 50% , var(--background-color) 50%);
}

.emptySideCard .emptyContent .emptyText {
  margin-left: 55%;
}

.headerLoader {
  width: 90%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}