.landingpage {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.loginWrapper {
    width: 250px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 30px 30px 50px 30px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingPageTitle {
    font-size: 50px;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.landingPageTitle img {
    transform: rotate(10deg);
    width: 50px;
    margin-left: 10px;
}

.landingPageText ul {
    list-style:circle;
}

.landingPageText {
    font-size: 18px;
    line-height: 2em;
    background-color: #e3d2c475;
    padding: 25px 50px calc(31px + (2px / 3));
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--color-primary);
    border-left: none;
}

.landingPageImage {
    margin-top: 10px;
}

.landingPageImage img {
    border-radius: 10px;
    border: 2px solid var(--color-primary);
}

/* phone */
@media (max-width: 480px) {
    .landingPageTitle {
        font-size: 30px;
    }
}

/* pc */
@media (min-width: 481px) {
    .landingPageTitle img {
        width: 80px;
    }

    .landingPageText img {
        border-radius: 10px;
        border: 2px solid var(--color-primary);
    }

    .loginWrapper {
        border-radius: 10px 0 0 10px;
    }
}
