.landingpage {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 50px;
    outline: 10px solid white;
    height: 400px;
    width: fit-content;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
}

.loginWrapper {
    width: 250px;
    padding: 0 30px;
    row-gap: 20px;
    display: flex;
    height: calc(100% - 4px);
    flex-direction: column;
    justify-content: center;
}

.landingPageTitle {
    font-size: 50px;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.landingPageTitle img {
    transform: rotate(10deg);
    width: 50px;
    margin-left: 10px;
}

.landingPageText ul {
    list-style:circle;
}

.landingPageText {
    font-size: 18px;
    line-height: 2em;
    background-color: #e3d2c475;
    padding: 0 40px 0 30px;
}

.landingPageImage {
    margin-top: 10px;
    margin-left: 20px;
}

/* phone */
@media /*(max-width: 480px) and*/ (max-width: 800px) {
    .landingPageTitle {
        font-size: 30px;
    }

    .pc {
        display: none;
    }

    .landingpage {
        border: none;
    }

    .loginWrapper {
        border: 2px solid var(--color-primary);
        border-radius: 10px;
    }

    .landingPageImage img {
        border-radius: 10px;
        border: 2px solid var(--color-primary);
    }
}

/* pc */
@media (min-width: 800px) {
    .landingPageTitle img {
        width: 80px;
    }

    .landingPageText img {
        border-radius: 10px;
        border: 2px solid var(--color-primary);
    }

    .loginWrapper {
        border-radius: 10px 0 0 10px;
    }

    .mobile {
        display: none;
    }
}