.book {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    height: 140px;
    background-image: url("../Images/book_cover.svg");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}

.book:hover {
    transform: scale(1.1);
}

.bookTitle {
    font-size: 16px;
    line-height: 1em;
    padding: 10px 8px;
    width: 60%;
    height: 50%;
    position: relative;
    left: 5px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editCookbook {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 350px;
}