.editCookbook {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 350px;
}

.bookLoading {
    animation: movement 1.5s linear infinite;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.book {
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
    min-height: 165px;
    padding: 10px 20px;
    --books: 2;
    width: calc((90vw - calc(var(--books) - 1) * 20px - calc(40px * var(--books))) / var(--books));
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cookbookTitle {
    max-width: calc(100% - 38px - 107px - 10px - 20px);
}

@media (min-width: 481px) {
    .book {
        --books: 2;
        width: calc((80vw - calc(var(--books) - 1) * 20px - calc(40px * var(--books))) / var(--books));
    }
    .cookbookTitle {
        max-width: calc(100% - 38px - 38px - 10px - 20px);
    }
}

@media (min-width: 580px) {
    .book {
        --books: 3;
    }
}

@media (min-width: 780px) {
    .book {
        --books: 4;
    }
}

@media (min-width: 980px) {
    .book {
        --books: 5;
    }
}

@media (min-width: 1180px) {
    .book {
        --books: 6;
    }
}

@media (min-width: 1380px) {
    .book {
        --books: 7;
    }
}

@media (min-width: 1580px) {
    .book {
        --books: 8;
    }
}

@media (min-width: 1780px) {
    .book {
        --books: 9;
    }
}

@media (min-width: 1980px) {
    .book {
        --books: 10;
    }
}

@media (min-width: 2180px) {
    .book {
        --books: 11;
    }
}

@media (min-width: 2380px) {
    .book {
        --books: 12;
    }
}

.owners {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    display: flex;
    column-gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.owners:hover {
    border: 2.5px solid var(--color-primary);
    margin: -1px 0;
}

.owners input, .owner input:hover {
    border: none;
    outline: none;
    margin: 1px 0;
    padding: 0 5px;
}

.owners input:hover {
    margin: 1px 0;
}

.owner {
    border: 1px solid var(--color-primary);
    padding: 0 10px 0 4px;
    border-radius: 10px;
    display: flex;
}

.bookTitle {
    padding: 8px 0;
}

.cookbookImages {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
}

.cookbookImages div, .cookbookImages img {
    width: calc(50% - 15px);
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-primary);
    opacity: 0.5;
    object-fit: cover;
    display: block;
}

.cookbookImages img {
    opacity: 0.8;
}