.editCookbook {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 350px;
}

.bookLoading {
    animation: movement 1.5s linear infinite;
}

.book {
    background-image: url("../Images/Book.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100px;
    height: 140px;
    padding: 15px;
    cursor: pointer;
}

.book:hover {
    filter: drop-shadow(0 0 5px rgb(189, 182, 182));
}


.owners {
    border: 1.5px solid var(--color-primary);
    border-radius: 10px;
    display: flex;
    column-gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.owners:hover {
    border: 2.5px solid var(--color-primary);
    margin: -1px 0;
}

.owners input, .owner input:hover {
    border: none;
    outline: none;
    margin: 1px 0;
    padding: 0 5px;
}

.owners input:hover {
    margin: 1px 0;
}

.owner {
    border: 1px solid var(--color-primary);
    padding: 0 10px 0 4px;
    border-radius: 10px;
    display: flex;
}