.navbar {
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px -4px 6px -2px;
    background-color: #fff;
}

@media (min-width: 481px) {
    .navbar {
        top: 0;
        height: 56px;
    }
    .navbarIcons {
        display: none;
    }
    .navbarText a:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    .navbarText {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .navbarText a {
        display: block;
        text-decoration: none;
        color: #333;
    }

    .active {
        font-weight: 600;
    }
}

@media (max-width: 480px) {
    .navbar {
        align-items: flex-start;
        padding-top: 5px;
    }
    
    .navbarText {
        display: none;
    }
    .navbarIcons {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .navbarIcons img {
        width: 30px;
        height: 30px;
        display: block;
        padding: 10px;
    }
    .active {
        background-color: var(--color-primary);
        border-radius: 8px;
    }
}