.navbar {
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px -3px, rgb(0 0 0 / 5%) 0px -4px 6px -2px;
    background-color: #fafafa;
    z-index: 10;
}

.navbarContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbarContent a {
    display: block;
    text-decoration: none;
    color: #333;
}

.navbarContent img {
    padding-top: 5px;
    height: 36px;
}

.navbarContent .mobile {
    opacity: 0.6;
}

.navbarContent .active .mobile {
    opacity: 1;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

@media (min-width: 481px) {
    .navbar {
        top: 0;
        height: 56px;
    }

    .navbarContent a:hover {
        cursor: pointer;
        text-shadow: 0px 0px 0.5px; 
    }

    .active {
        font-weight: 600;
    }
}

@media (max-width: 480px) {
    .navbar {
        align-items: flex-start;
        padding-top: 5px;
    }

    .active div {
        display: block !important;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #bed0ef;
    }
}