.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px -3px, rgb(0 0 0 / 5%) 0px -4px 6px -2px;
    background-color: #fafafa;
    z-index: 1;
}

@media (min-width: 481px) {
    .navbar {
        height: 56px;
        margin-bottom: 10px;
    }

    .navbarContent a:hover {
        cursor: pointer;
        text-shadow: 0px 0px 0.5px; 
    }
}

@media (max-width: 480px) {
    .navbar {
        position: fixed;
        bottom: 0;
        height: 70px;
        align-items: flex-start;
        padding-top: 5px;
    }

    .navbar .mobile {
        opacity: 0.6;
    }
}

.navbarContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.active .mobile div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*background-color: #bed0ef;*/
    background-color: #FF9F0A;
}

.navbarContent a {
    display: block;
    text-decoration: none;
    color: #333;
}

.navbarContent img {
    padding-top: 5px;
    height: 36px;
}

.active .desktop {
    font-weight: 600;
}

.active .mobile {
    opacity: 1;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
