@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

@media (min-width: 481px) {
    :root {
        --wrapper-width: 40vw;
        --wrapper-margin-top: 57px;
    } 
}

@media (max-width: 820px) {
    :root {
        --wrapper-width:50vw;
        --wrapper-margin-top: 57px;
    } 
}

@media (max-width: 480px) {
    :root {
        --wrapper-width: 90vw;
        --wrapper-margin-top: 2vh;
    } 
}

.formWrapper {
    font-family: 'Nunito', sans-serif;
    width: var(--wrapper-width);
    padding: 0 calc((100vw - var(--wrapper-width)) / 2);
    height: calc(100vh - 58px);
    margin-top: var(--wrapper-margin-top);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.formWrapper::-webkit-scrollbar {
    display: none;
}

.formTitle {
    font-size: 25px;
    margin: 5px auto;
}

.fieldTitle {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 4px;
}

.toggleWrapper {
    border: 1.5px solid var(--color-primary);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 120px;
    background-repeat: no-repeat;
    background: radial-gradient(70px 55px, var(--color-primary) 40%, transparent 40%);
}

.toggleWrapper > div {
    cursor: pointer;
}

.leftToggle {
    background-position: -32px;
    animation: toggleLeft 0.5s;
}

.rightToggle {
    background-position: 32px;
    animation: toggleRight 0.5s;
}

@keyframes toggleRight {
    from {background-position: -32px;}
    to {background-position: 32px;}
}

@keyframes toggleLeft {
    from {background-position: 32px}
    to {background-position: -32px}
}

input[type="url"] {
    padding-right: 30px;
    background-image: url("../Images/Icons/Url_grey.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 22px;
    font-family: 'Nunito', sans-serif;
}

.fileInput::-webkit-file-upload-button {
    width: 60px;
    background-color: #fff;
    height: calc(40px + (1px / 3));
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
}

.inputField, .selectField, .selectOptions {
    border-radius: 10px;
    padding: 8px;
    border: 1.5px solid var(--color-primary);
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.inputField:focus, .inputField:hover, .selectField:hover {
    outline: 1px solid var(--color-primary);
}

.selectField {
    cursor: pointer;
}

.selectFieldArrow {
    border: solid #333;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    float: right;
    position: relative;
    top: 5px;
}

.selectFieldOpen {
    border-radius: 10px 10px 0 0;
}

.selectFieldOpen .selectFieldArrow {
    transform: rotate(225deg);
    top: 10px;
}

.selectFieldOpen:hover {
    outline: none;
}

.selectOptions {
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 0;
    z-index: 1;
    position: relative;
    background-color: white;
}

.option {
    border-bottom: 1px solid var(--color-primary);
    padding: 5px;
}

.option:last-child {
    border: none;
}

.option:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

.option:last-child:hover {
    border-radius: 0 0 8px 8px;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.maxWidth {
    width: calc(var(--wrapper-width) - 20px);
}

.multiField {
    display: flex;
    column-gap: 10px;
}

.multiField .option {
    margin-left: -1px;
}

.checkbox {
    width: 15px;
    height: 15px;
    display: inline-flex;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    margin-right: 5px;
    cursor: pointer;
}

.checkMark {
    position: relative;
    bottom: 6px;
    right: 2.5px;
    display:inline-block;
    width: 22px;
    height:22px;
    transform: rotate(45deg);
}

.hiddenCheckMark {
    display: none;
}

.alignCheckbox {
    display: flex;
    align-items: center;
}

.alignCheckbox:hover {
    background-color: transparent;
}

.alignCheckbox:hover .hiddenCheckMark{
    display: block;
    color: var(--color-primary);
    opacity: 0.5;
}

@media (max-width: 480px) {
    .checkOption:hover .hiddenCheckMark{
        display: none;
    }
}

.checkmark_stem {
    position: absolute;
    width:2px;
    height:9px;
    background-color: var(--color-primary);
    left:11px;
    top:6px;
    border-radius: 5px 5px 5px 0;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:2px;
    background-color: var(--color-primary);
    left:8px;
    top:13px;
    border-radius: 5px 0 0 5px;
}