@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

@media (min-width: 481px) {
    :root {
        --wrapper-width: 40vw;
        --wrapper-height: calc(100vh - 58px);
    } 
}

@media (max-width: 820px) {
    :root {
        --wrapper-width:50vw;
        --wrapper-height: calc(100vh - 58px);
    } 
}

@media (max-width: 480px) {
    :root {
        --wrapper-width: 90vw;
        --wrapper-height: calc(100vh - 83px);
    } 
}

.formWrapper {
    font-family: 'Nunito', sans-serif;
    width: var(--wrapper-width);
    padding: 0 calc((100vw - var(--wrapper-width)) / 2);
    height: var(--wrapper-height);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.formWrapper::-webkit-scrollbar {
    display: none;
}

.formHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formHeader img {
    cursor: pointer;
}

.formTitle {
    font-size: 25px;
    margin: 5px auto;
}

.fieldTitle {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 4px;
}

.toggleWrapper {
    border: 1px solid #333;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 120px;
    background-repeat: no-repeat;
}

.toggle {
    height: 32px;
    width: 60px;
    border-radius: 20px;
    background-color: var(--color-primary);
    position: absolute;
    z-index: -1;
}

.toggleWrapper > div {
    cursor: pointer;
}

.leftToggle {
    animation: toggleLeft 0.5s;
}

.rightToggle {
    left: 62px;
    animation: toggleRight 0.5s;
}

@keyframes toggleRight {
    from {left: 0;}
    to {left: 62px;}
}

@keyframes toggleLeft {
    from {left: 62px}
    to {left: 0}
}

input[type="url"] {
    padding-right: 30px;
    background-image: url("../Images/Icons/Url_grey.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 22px;
    font-family: 'Nunito', sans-serif;
}

.fileInput {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.fileInput::-webkit-file-upload-button {
    background-color: #fafafa;
    padding: 8px 10px !important;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.fileInput::-webkit-file-upload-button:hover {
    background-color: #e3d2c480;
}

.inputField {
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #333;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    user-select: auto;
    background-color: var(--background-color);
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.maxWidth {
    width: calc(var(--wrapper-width) - 20px);
}

.selectField .inputField {
    border: none;
    padding: 6px 8px;
}

.checkbox {
    width: 15px;
    height: 15px;
    min-width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    margin-right: 5px;
    cursor: pointer;
}

.checked {
    background-color: var(--color-primary);
}

.hiddenCheckmark {
    display: none;
}

.alignCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.popup.dataLoader {
    z-index: 10;
    bottom: 80px;
    height: calc(100vh - 80px);
}

@media (min-width: 481px) {
    .popup.dataLoader {
        top: 65px;
        height: calc(100vh - 65px);
    }
}

.function {
    position: relative;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.function .loading {
    position: static;
}

.formLoader {
    background-color: var(--background-color);
    width: var(--wrapper-width);
    padding: 20vh calc((100vw - var(--wrapper-width)) / 2);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.formLoader .emptyText {
    animation: movement 1.5s linear infinite;
}

.checkmarkCircle {
    border: 3.5px solid var(--color-primary);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}
