.backbutton {
    position: fixed;
    left: 0;
    display: flex;
    padding-left: 5vw;
    align-items: center;
    width: calc(100% - 5vw);
    height: 4vh;
    background-color: var(--color-primary);
    z-index: 2;
}

.backbutton a, .backbutton span{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.backbutton img {
    margin-right: 10px;
    width: 15px;
}

.recipePreview {
    position: fixed;
    position: relative;
    top: 4vh;
    left: 0;
    width: 100vw;
    height: 96vh;
}

.emptyCard {
    background-color: var(--color-primary);
    animation: movement 1.5s linear infinite;
}

@keyframes movement {
    from {opacity: 0.3}
    50% {opacity: 0.9;}
    to {opacity: 0.3;}
}

.emptyContent {
    width: 90%;
    height: 50%;
    padding: 0 5%;
    background-color: var(--background-color);
    position: relative;
    top: 50%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

.emptyText {
    height: 1.2em;
    margin-top: 10px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.searchField {
    width: 0px;
    padding: 0 25px 0 8px;
    border: 2px solid var(--color-primary);
    background-image: url("../Images/Icons/Search.png");
    background-repeat: no-repeat;
    background-position: right 6px top 50%;
    background-size: 18px;
    height: 40px;
}

.searchField.desktop {
    width: 40px;
}

.searchAnimation.mobile {
    animation: search 0.3s linear forwards;
}

.searchAnimation.desktop {
    animation: searchBig 0.3s linear forwards;
}

@keyframes search {
    from {width: 25px }
    to {width: 171px}
}

@keyframes searchBig {
    from {width: 77px}
    to {width: 200px}
}

.smaller {
    padding-left: calc(175px + 5vw);
}

.sideBox {
    position: fixed;
    left: 0vw;
    top: 0;
    height: calc(100vh - 115px);
    width: 135px;
    background-color: var(--background-color);
    box-shadow: 4px -4px 15px rgb(0 0 0 / 20%);
    padding: 20px;
    text-align: left;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sideBox div {
    line-height: 2em;
}

.sideBox span {
    font-weight: 400;
    font-size: 20px;
}

.sideBox .inputField {
    padding: 4px 8px;
}

.sideBox input[type="number"] {
    width: 35px;
    display: flex;
}

.space {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (min-width: 481px) {
    .sideBox {
        top: 58px;
        height: calc(100vh - 99px);
        box-shadow: 4px 4px 15px rgb(0 0 0 / 20%);
        width: 172px;
    }

    .smaller {
        padding-left: calc(212px + 5vw);
    }
}

.randomRecipe {
    width: 90%;
    height: 90%;
    padding: 7.5% 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #e3d2c44D;
}

.card.half {
    height: 125px;
}