.backbutton {
    position: fixed;
    left: 0;
    height: 4vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: var(--color-primary);
    z-index: 2;
}

.backbutton a, .backbutton span{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.backbutton img {
    margin-right: 10px;
    width: 10px;
}

.recipePreview {
    position: fixed;
    top: calc(4vh - 58px);
    left: 0;
    width: 100vw;
    height: calc(96vh + 60px);
}

.noPreview {
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
}

.cardloading {
    background-color: white;
    display: flex; 
    align-content: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

@media (max-width: 480px) {
    .cardloading {
        top: 75px;
        column-gap: 20px;
    }
}

.emptyCard {
    width: 170px;
    height: 270px;
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    animation: movement 1.5s linear infinite;
}

@keyframes movement {
    from {opacity: 0.3}
    50% {opacity: 0.9;}
    to {opacity: 0.3;}
}

.emptyContent {
    width: 90%;
    height: 50%;
    padding: 0 5%;
    background-color: white;
    position: relative;
    top: 50%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

.emptyText {
    height: 1.2em;
    margin-top: 10px;
    background-color: var(--color-primary);
    border-radius: 10px;
}