.backbutton {
    height: 5vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.backbutton a {
    text-decoration: none;
    color: black;
}

.backbutton img {
    margin-right: 10px;
    width: 10px;
}

.recipePreview {
    position: fixed;
    left: 0;
    top: 5vh;
    margin: auto;
    width: 100vw;
    height: 95vh;
}

.noPreview {
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
}