.cardWrapper {
  position: relative;
  top: 15px;
  padding: 5px 5vw 0 5vw;
  height: calc(100vh - 154px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 15px;
  row-gap: 5px;
}

@media (min-width: 481px) {
  .cardWrapper {
    padding: 5px 10vw 0 10vw;
    height: calc(100vh - 120px);
    column-gap: 20px;
    row-gap: 10px;
  }
  
  .card {
    --cards: 2;
    width: calc((80vw - calc(var(--cards) - 1) * 20px) / var(--cards)) !important;
  }
}

@media (min-width: 700px) {
  .card {
    --cards: 3;
  }
}

@media (min-width: 920px) {
  .card {
    --cards: 4;
  }
}

@media (min-width: 1140px) {
  .card {
    --cards: 5;
  }
}

@media (min-width: 1360px) {
  .card {
    --cards: 6;
  }
}

@media (min-width: 1580px) {
  .card {
    --cards: 7;
  }
}

@media (min-width: 1800px) {
  .card {
    --cards: 8;
  }
}

@media (min-width: 2020px) {
  .card {
    --cards: 9;
  }
}

@media (min-width: 2240px) {
  .card {
    --cards: 10;
  }
}

.cardWrapper::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: calc(50vw - 5vw - 10px);
  margin-bottom: 10px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.selected {
  background-color: #e3d2c480;
}

.alignRecipeOptions {
  position: relative;
  left: 83px;
  top: 0;
  z-index: 1;
  outline: none;
}

.recipeOptions {
  position: absolute;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 1px solid #333;
  cursor: pointer;
  display: flex;
  background-color: var(--background-color);
}

.recipeOptions div {
  padding: 3px 11px;
  height: calc(100% / 3);
  display: flex;
  align-items: center;
  border-right: 1px solid #333;
}

.recipeOptions div:last-child {
  border: none;
}

.recipeImage {
  width: calc(100% - 20px);
  height: 100px;
  padding: 10px;
  border-radius: 15px;
  object-fit: cover;
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: calc(100% - 20px);
  padding: 0 10px 5px 10px;
  overflow: hidden;
}

.recipeInfo div {
  height: fit-content;
  max-height: 26px;
}

.recipeInfo.recipeInfoExpanded div {
  max-height: fit-content;
  animation: expandCard 0.5s ease;
}

@keyframes expandCard {
  from {max-height:26px;}
  to {max-height: fit-content;}
}

.expandButton {
  text-align: center;
}

.expandButton:hover {
  background: linear-gradient(transparent 75%, rgba(51, 51, 51, 0.37));
  border-radius: 15px;
}

.recipeTitle {
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cookTime, .edit {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.tag {
  width: fit-content;
  padding: 2px 8px;
  border-radius: 15px;
  display: inline-flex;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 8px;
}

.edit:hover {
  text-decoration: underline;
}

.edit {
  position: relative;
  bottom: 40px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  z-index: 2;
}

.popupContent {
  position: absolute;
  left: 50vw;
  top: 44vh;
  transform: translate(-50%, -50%);
  cursor: auto;
}

.popupContent.card {
  width: 350px !important;
  min-height: 500px;
  padding-bottom: 10px;
}

.popupContent .recipeImage {
  opacity: 0.5;
  height: 220px;
}

.popupContent .recipeInfo, .popupContent .recipeInfo div {
  height: fit-content;
  max-height: fit-content;
}

.deleteAlert {
  background-color: var(--background-color);
  width: 310px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.imageInput {
  position: absolute; 
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  width: min-content;
  cursor: pointer;
}