.cardWrapper {
  position: relative;
  top: 15px;
  padding: 5px 4.4vw 0 4.4vw;
  height: calc(100vh - 154px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 15px;
  row-gap: 5px;
}

@media (min-width: 481px) {
  .cardWrapper {
    padding: 0 10vw 0 10vw;
    height: calc(100vh - 120px);
    column-gap: 20px;
    row-gap: 10px;
  }
  
  .card {
    --cards: 2;
    width: calc((80vw - calc(var(--cards) - 1) * 20px) / var(--cards)) !important;
  }

  .moreButton {
    --cards: 2;
    width: calc((80vw - calc(var(--cards) - 1) * 20px) / var(--cards)) !important;
  }
}

@media (min-width: 700px) {
  .card {
    --cards: 3;
  }

  .moreButton {
    --cards: 3;
  }
}

@media (min-width: 920px) {
  .card {
    --cards: 4;
  }

  .moreButton {
    --cards: 4;
  }
}

@media (min-width: 1250px) {
  .card {
    --cards: 5;
  }

  .moreButton {
    --cards: 5;
  }
}

.cardWrapper::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 10px;
  display: flex;
  text-align: left;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  flex-direction: column;
  width: calc(50vw - 4.4vw - 10px);
  height: 270px;
  margin-bottom: 10px;
  background-color: white;
}

.card.clickable:hover {
  filter: contrast(0.9);
}

.recipeImage {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px;
}

.recipeTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;
}

.cookTime, .edit {
  display: flex;
  column-gap: 10px;
}

.cookTime img, .edit img {
  width: 20px;
  height: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.tag {
  width: fit-content;
  padding: 0 10px;
  border-radius: 15px;
}

.removeTag {
  position: relative;
  left: 5px;
  width: 10px;
  cursor: pointer;
}

.edit:hover {
  text-decoration: underline;
}

.edit {
  position: relative;
  bottom: 40px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  z-index: 2;
}

.popupContent {
  position: absolute;
  left: 50vw;
  top: 48vh;
  transform: translate(-50%, -50%);
  cursor: auto;
}

.popupContent.card {
  width: 350px;
  height: fit-content;
  padding-bottom: 10px;
}

.popupContent .recipeImage {
  opacity: 0.5;
  height: 220px;
}

.deleteAlert {
  background-color: white;
  width: 310px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.moreButton {
  position: absolute;
  width: calc(50vw - 4.4vw - 10px);
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  cursor: pointer;
}

.moreButton img {
  width: 23px;
}

.moreButtonContent {
  padding: 0 5px;
  background-color: white;
  width: max-content;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-primary);
}

.moreButtonContent > div:hover {
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 0 5px;
}

.moreButtonContent > div {
  border-top: 1px solid var(--color-primary);
  width: 100%;
  padding: 0 5px;
}

.moreButtonContent:first-of-type(div){
  border: none;
}

.imageInput {
  position: absolute; 
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: min-content;
  cursor: pointer;
}

.moreButton .checkbox {
  border-color: #333;
  background-color: white;
  margin: 0;
}

.moreButton .checkbox img {
  width: 12px;
}