.alignRecipes {
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 80vw;
  height: calc(100vh - 40px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px 10vw;
  background-color: var(--background-color);
  overflow-y: auto;
}

.alignRecipes::-webkit-scrollbar {
  display: none;
}

.alignRecipes.smaller {
  width: calc(80vw - 170px);
}


@media (max-width: 480px) {
  .alignRecipes {
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px 5vw;
    width: 90vw;
  }

  .alignRecipes.smaller {
    width: calc(100vw - 10vw - 175px);
  }

  .closeButton {
    right: 5vw;
  }
}

.closeButton {
  position: fixed;
  right: 10vw;
  top: 10px;
  width: 15px;
  cursor: pointer;
}

.alignRecipes .pageHeader {
  margin-top: 0;
}

.alignRecipes .pageHeader .searchField {
  padding: 0 8px;
}

.alignRecipes .sideBox {
  top: 0;
  height: calc(100vh - 40px);
}

.recipeCardCheckbox {
  width: 19px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.recipeCardCheckbox > div {
  position: absolute;
  height: 0;
  padding: 5px;
}

.checkbox {
  background-color: var(--background-color);
  outline: 5px solid var(--background-color);
}

.recipeCardCheckbox .checkbox {
  border-color: #333;
}

.checkbox.checked {
  background-color: var(--color-primary);
  outline: 5px solid #efe6df;
}