.alignRecipes {
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 80vw;
  height: calc(100vh - 40px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px 10vw;
  background-color: var(--background-color);
  overflow-y: auto;
}

.alignRecipes::-webkit-scrollbar {
  display: none;
}

.alignRecipes.smaller {
  width: calc(80vw - 170px);
}


@media (max-width: 480px) {
  .alignRecipes {
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 4.4vw;
    width: calc(100vw - 8.8vw);
  }

  .alignRecipes.smaller {
    width: calc(100vw - 8.8vw - 175px);
  }
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  cursor: pointer;
}

.alignRecipes .pageHeader {
  margin-top: 10px;
}

.alignRecipes .pageHeader .searchField {
  padding: 0 8px;
}

.alignRecipes .sideBox {
  top: 0;
  height: calc(100vh - 40px);
}