@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root {
  --color-primary: #e3d2c4;
  --background-color-secondary: #efe8dd;
  --background-card: #f9feff;
}

.root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  user-select: none;
}

.pageHeader {
  margin-top: 65px;
  display: flex;
  align-items: center;
  width: calc(100vw - 10px);
  justify-content: center;
  height: 42px;
}

.pageHeader img {
  cursor: pointer;
}

.pageHeader > .left {
  position: absolute;
  left: 10vw;
}

.pageHeader > .right {
  position: absolute;
  right: 10vw;
}

.title {
  font-size: 25px;
  line-height: 0.9em;
}

.fullHeader .title {
  max-width: calc(80vw - 170px - 135px);
  padding-left: 35px;
}

@media (max-width: 480px) {
  .pageHeader {
    margin-top: 2vh;
  }

  .pageHeader > .left {
    left: 4.4vw;
  }

  .pageHeader > .right {
    right: 4.4vw;
  }

  .title {
    font-size: 20px;
  }

  .fullHeader .title {
    max-width: calc(91.2vw - 180px);
    padding-left: 0;
  }
}

.button {
  width: fit-content;
  border-radius: 10px;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  border: 2px solid var(--color-primary);
  column-gap: 8px;
}

.iconButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
}

.button:hover {
  background-color: #e3d2c480;
}

.button a, .button, a {
  text-decoration: none;
  color: #333;
}

.primaryButton {
  background-color: var(--color-primary);
}

.deleteButton {
  background-color: #fdbfbf;
  border-color: #fdbfbf;
}

.deleteButton:hover {
  background-color: #fdbfbf80;
}

.center {
  margin: 10px auto;
}

.centerElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left.centerElements, .right.centerElements {
  column-gap: 8px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.mobile {
  display: none !important;
}

@media (max-width: 480px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }
}

.loading {
  width: 48px;
  height: 48px;
  border: 4px solid var(--color-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  top: 40vh;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.errorMessage {
  color: #ff4949;
}

::placeholder {
  color: rgb(202, 201, 201);
  font-weight: 100;
}