@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root {
  --color-primary: #e3d2c4;
  --background-color-secondary: #efe8dd;
  --background-card: #f9feff;
}

.root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  user-select: none;
  user-zoom: none;
}

.pageHeader {
  margin-top: 65px;
  display: flex;
  align-items: center;
  width: calc(100vw - 10px);
  padding: 0 5px;
  justify-content: center;
  height: 42px;
}

.pageHeader img {
  cursor: pointer;
}

.pageHeader > .left {
  position: absolute;
  left: 5vw;
}

.pageHeader > .right {
  position: absolute;
  right: 5vw;
}

.title {
  font-size: 25px;
}

@media (max-width: 480px) {
  .pageHeader {
    margin-top: 2vh;
  }
}

.button {
  border-radius: 10px;
  width: fit-content;
  padding: 0 20px;
  min-height: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
}

.button:hover {
  background-color: #e3d2c480;
}

.button a {
  text-decoration: none;
  color: black;
}

.primaryButton {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.secondaryButton {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.secondaryButton a {
  text-decoration: none;
  color: black;
}

.deleteButton {
  background-color: #fdbfbf;
  border: 2px solid #fdbfbf;
}

.deleteButton:hover {
  background-color: #fdbfbf80;
}

.secondaryButton a {
  color: #333;
}

.mobileButton {
  font-size: 25px;
  width: 32px;
  height: 32px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.center {
  margin: 10px auto;
}

.centerElements {
  display: flex;
  justify-content: space-between;
}

.emptyState {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.mobile {
  display: none;
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
