@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root {
  --color-primary: #e3d2c4;
  --background-color: #fafafa;

}

.root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  user-select: none;
  background-color: var(--background-color);
  color: #050505;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  width: 90vw;
  margin: 10px auto;
}

.header > * {
  cursor: auto;
}

.header div {
  display: flex;
  column-gap: 10px;
}

@media (min-width: 481px) {
  .header {
    width: 80vw;
  }
}

.header .searchField {
  width: calc(100% - 88px - 109px - 20px);
  margin-right: 10px;
}

.title {
  font-size: 25px;
  line-height: 0.9em;
  cursor: auto;
}

.button {
  width: fit-content;
  border-radius: 10px;
  padding: 0 10px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  border: 2px solid var(--color-primary);
  column-gap: 8px;
}

.iconButton {
  height: 35px;
  padding: 0 6.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 10px;
}

.button.desktop, button.mobile {
  border-width: 1px;
  border-color: #333;
}

.button.mobile {
  height: 36px;
}

.button a, .button, a {
  text-decoration: none;
  color: #333;
}

.primaryButton {
  background-color: var(--color-primary);
}

.deleteButton {
  background-color: #fdbfbf;
  border-color: #fdbfbf;
}

.center {
  margin: 10px auto;
}

.centerElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerElements div {
  display: flex;
  column-gap: 10px;
}

.left.centerElements, .right.centerElements {
  column-gap: 8px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  margin-top: 50px;
}

.mobile {
  display: none !important;
}

@media (max-width: 480px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }
}

.loading {
  width: 48px;
  height: 48px;
  border: 4px solid var(--color-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  top: 40vh;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.errorMessage {
  color: #ff4949;
}

::placeholder {
  color: rgb(179, 178, 178);
  font-weight: 100;
}

:focus {
  outline: none;
}