@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root {
  --color-primary: #e3d2c4;
  --background-color-secondary: #efe8dd;
  --background-card: #f9feff;
}

.root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.pageTitle {
  margin-top: 65px;
  font-size: 25px;
}

.title {
  font-size: 25px;
}

@media (max-width: 480px) {
  .pageTitle {
    margin-top: 2vh;
  }
}

.button {
  border-radius: 10px;
  width: fit-content;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
}

.bigbutton {
  border-radius: 10px;
  width: fit-content;
  padding: 0 24px;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
}

.button a {
  text-decoration: none;
  color: black;
}

.primaryButton {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.secondaryButton {
  border: 2px solid var(--color-primary);
}

.secondaryButton a {
  color: #333;
}

.center {
  margin: 10px auto;
}

.corner {
  position: fixed;
  top: 65px;
  right: 20px;
  height: 30px;
}

@media (max-width: 480px) {
  .corner {
    top: 17px;
    font-size: 25px;
    padding: 0 10px;
  }
}

.centerElements {
  display: flex;
  justify-content: space-between;
}